# Run integration tests against the integ API endpoint
name: test integ
on: [push, pull_request]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      # It's totally debatable which is better here: fail-fast or not.
      # Failing fast will use fewer cloud resources, in theory.
      #    But if the tests are slightly flaky (fail to pip install something)
      #    Then one flaky install kills lots of jobs that need to be redone.
      #    So the efficiency argument has its limits
      # Failing slow is clearer about what's going on.
      #    This is pretty unambiguous, so we're going with it for now.
      fail-fast: false
      matrix:
        python-version: [
            "3.9",
            "3.10",
            "3.11",
            "3.12",
            "3.13",
        ]
    steps:
      - name: get code
        uses: actions/checkout@v3
      - name: Build Docker image with dependencies
        run: docker build --build-arg PYTHON_VERSION=${{ matrix.python-version }} -f docker/Dockerfile -t framegrab-test .
      - name: Run tests in Docker
        run: docker run --rm framegrab-test poetry run pytest
